<div class="container">
  <p class="one">Workplace Giving</p>
  <p class="one">Fundraisers</p>
  <p class="two">Previous Platform</p>
</div>

<div class="menu">
  <div class="logo">
      <a href="#" class="logo"><strong>Logo</strong></a>


  </div>

  <nav>

      <ul>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#service">Services</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#donate">Donate</a></li>
          <li><a href="#banner">Home</a></li>



      </ul>

  </nav>

</div>

<br><br>
<section class="banner" id="banner">

  <div class="text">
      <span>Donate</span>
      <h3>4 a better world</h3><br>
      <p style="width: 100vh;">Lorem ipsum dolor sit, amet consectetur adipisicing elit Autem quidem soluta. magni
          repellendus
          tempora?
          Error fugiat nulla odio facere ea? </p><br>

      <a href="#" class="btn">Go To</a>
      <a href="#" class="btn">Read More</a>
  </div>
  <div class="thumbnail">
      <a href="#"> <img src="assets/images/play.png" width="50px"></a>

  </div>
  <br>
</section>
<section class="donate" id="donate">
  <div class="content">
      <div class="donatex">
          <img src="assets/images/ic3.png" alt="image"><br><br>
          <h2>Become a Volunteer</h2><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis accusantium sunt nisi nihil
              expedita eos neque dolor possimus tempore odit aut, explicabo ullam.</p>
      </div>

      <div class="donatex">
          <img src="assets/images/ic2.png" alt="image"><br><br>
          <h2>Dance & Music</h2><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis accusantium sunt nisi nihil
              expedita eos neque dolor possimus tempore odit aut, explicabo ullam.</p>
      </div>

      <div class="donatex">
          <img src="assets/images/ic1.png" alt="image"><br><br>

          <h2>Online Conference</h2><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis accusantium sunt nisi nihil
              expedita eos neque dolor possimus tempore odit aut, explicabo ullam.</p>
      </div>
  </div>
</section>
<section class="about" id="about">
  <div class="content">
      <div class="contentBx">
          <h2>Wellcome to our charity</h2>
          <hr>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliasmmodi explicabo ipsum inventore
              perspiciatis cupiditate qui nostrum optio adipisci fugiat! Itaque, sint! Non doloribus cumque quas
              quod nihil ab ex rem, temporibus voluptatem. Dolorem odio nostrum nemo, placeat sapiente cupiditate
              debitis autem est? Aperiam ut officiis voluptas porro nemo eligendi aut exercitationem illum
              accusantium provident veniam rerum sequi antium tempora at mollitia veniam corrupti, veritatis est
              vel ad aliquam consequatur cupiditate.
          </p>
          <a href="#" class="btn">Read More</a>


      </div>
      <div class="w50">
          <img src="assets/images/3.jpg" class="img">

      </div>
  </div>
</section>

<section class="events" id="events">
  <div class="content1">
      <h2>Upcoming Events</h2>
      <hr><br>
      <div class="cont1">
          <img src="assets/images/or1.jpg" style="width: 120px; height: 120px;">
          <div class="text">
              <h4>Sports day for the Differently-abled</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maiores nam illo natus
                  enim aliquid ipsum nobis est ipsam aut?</p>
              <a href="#" class="btn1">Read More</a>
          </div>
      </div>
      <div class="cont1">
          <img src="assets/images/or2.jpeg" style="width: 120px; height: 120px;">
          <div class="text">
              <h4>Inter NGO Sports Meet</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maiores nam illo natus
                  enim aliquid ipsum nobis est ipsam aut?</p>
              <a href="#" class="btn1">Read More</a>
          </div>
      </div>

      <div class="cont1">
          <img src="assets/images/or3.jpg" style="width: 120px; height: 120px;">
          <div class="text">
              <h4>Pedal for Change</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maiores nam illo natus
                  enim aliquid ipsum nobis est ipsam aut?</p>
              <a href="#" class="btn1">Read More</a>
          </div>
      </div>
  </div>

  <div class="content2">
      <h2>Featured Cause</h2>
      <hr><br>
      <div class="cont2">
          <img src="assets/images/d.jpg" width="300px"><BR>

          <div class="text">
              <h4>Health check-up camp conducted for students of Mission</h4>
              <p style="padding: 12px 0px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores fugiat quisquam in minima unde
              voluptates odio obcaecati itaque velit ipsa?</p>

              <a href="#" class="btn">Know More</a>
              <br><BR>

          </div>

      </div>
      <div class="free">

          <p style="float: left;">01st-jan-2020</p>
          <p style="float: right;">31st-dec-2020</p>
      </div>
  </div>
</section>
<section class="service" id="service">
  <h2> Our Causes
      <hr>
  </h2>

  <div class="content">

      <div class="card">
          <img src="assets/images/cause-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h4 class="card-title">Save The Children</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veniam officia
                  nobis aperiam facere laboriosam? card's content.</p><br>
              <a href="#" class="card-link1">Explore Now</a>
              <a href="#" class="card-link">Related</a>
          </div>
      </div>
      <div class="card">
          <img src="assets/images/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h4 class="card-title">Humanitarian</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veniam officia
                  nobis aperiam facere laboriosam? card's content.</p><br>
              <a href="#" class="card-link1">Explore Now</a>
              <a href="#" class="card-link">Related</a>
          </div>
      </div>
      <div class="card">
          <img src="assets/images/cause3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h4 class="card-title">Health And Nutrition</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veniam officia
                  nobis aperiam facere laboriosam? card's content.</p><br>
              <a href="#" class="card-link1">Explore Now</a>
              <a href="#" class="card-link">Related</a>
              
          </div>
          
      </div>
      <div class="thumbnail2">
          <a href="https://google.com"> <img src="assets/images/play.png" width="50px;"></a>

      </div>

  </div>
 

</section>
<section class="fact" id="fact">
  <div class="content">
      <div class="box">
          <h3>We love to help all the children that have problems in the world. After 15 years we have
              many goals achieved.
              <hr>
          </h3>
          <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ratione impedit rerum aliquid
               ipsum dolor sit amet consectetur adipisicing elit. Accusantium, incidunt!</P>
      </div>
      <div class="box1">
          <img src="assets/images/teamwork.png">
          <img src="assets/images/donation.png">
          <img src="assets/images/dove.png"><BR>
          <h2>120</h2>
          <h2>79</h2>
          <h2>253</h2><br>
          <p>Lorem ipasd</p>&nbsp;&nbsp;&nbsp;
          <p>Lorem ipasd</p>&nbsp;&nbsp;
          <p>Lorem ipasd</p>

      </div>
  </div>
</section>
<section class="contact" id="contact">
  <div class="foot">

      <a href="#">
          <h2>Logo</h2>
      </a><br>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum molestiae distinctio vero necessit atibus
          libero quos quidem perfer endis minima architecto ipsam.</p>
      <img src="assets/images/i1.png"><img src="assets/images/i2.png"><img src="assets/images/i3.png"><img src="assets/images/i4.png"><img
          src="assets/images/i5.png"><img src="assets/images/i6.png">
  </div>
  <div class="foot">
      <h3>Useful Links</h3><br>
      <a href="#">Payments</a><br>
      <a href="#">Shipping</a><br>
      <a href="#">Cancellation & Returns</a><br>
      <a href="#">FAQ</a><br>
      <a href="#">Report Infrigement</a><br>
      <a href="#">Return Policy</a><br>
      <a href="#">Terms of use</a><br>

  </div>
  <div class="foot">

      <h3>Creating Impact</h3><br>
      <a href="#">About Child Rights</a><BR>
      <p class="unique">Statistics Of Children In India</p><BR>
      <a href="#">Our Approach</a><br><BR>
      <p class="unique">Nature of Support</p><br>
      <a href="#">Projects We Support</a><BR>
      <p class="unique">Stories of Hope</p><br>
  </div>
  <div class="foot">

      <h3>Contact</h3>
      <img src="assets/images/c1.png"><a href="#">+91 00155556</a><br>
      <img src="assets/images/c2.png"><a href="#">abc@gmail.com</a><br>
      <img src="assets/images/c3.png"><a href="#">Greater Noida</a><br><BR>
      <input type="text" class="subscribe" placeholder="Subcribe">
  </div>

</section>
<div class="copyright">
  <p style="font-size: 12px;">copyright.©.2020.My.Portfolio.All Right Reserved.</p>
</div>
<!--  -->